<!doctype html>
<html>

<head>
    <%- include('includes/head'); %>
    <title>Goal Tracker | Login</title>
</head>

<body>
    <div class="container">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h1><span class="fa fa-sign-in"></span> Login</h1>
            <% if (message.length > 0) { %>
                <div class="alert alert-danger">
                    <%= message %>
                </div>
            <% } %>
            <form action="/login" method="post">
                <%- include('includes/localForm'); %>
            </form>
            <hr>
            <p>Don't have an account? <a href="/signup">Signup</a></p>
            <p>Would you like to go home? <a href="/">Go Home</a></p>
        </div>
    </div>
</body>

</html>
