<div class="text-center">
    <a href="/goals"><button class="btn btn-primary"><span class="fa fa-home"></span> Home</button></a>
    <a href="/profile"><button type="button" class="btn btn-primary"><span class="fa fa-user"></span> Profile</button></a>
    <a href="/logout"><button class="btn btn-primary"><span class="fa fa-sign-out"></span> Logout</button></a>
</div>
